body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: Roboto, serif;
}

.display {
  display: none;
}

main {
  width: 100vw;

  margin: 0;
  padding: 0;
}

.display-img-mobile {
  width: 100vw;
  
}

.content {
  margin: 20px;
}

.content h1 {
  font-size: 45px;
}
.size {
  font-size: 20px;
}

li {
  padding: 5px;
  margin-bottom: 3px;
  list-style-image: url("assets/images/icon-list.svg");
}

ul {
  margin-bottom: 30px;
}

label {
  display: block;
  padding: 5px;
  font-size: 11px;
  font-weight: 700;
}

.input {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

input {
  margin-bottom: 20px;
  width: 100%;
  padding: 25px;
  border-radius: 5px;
  border: 0.5px solid hsl(231, 7%, 60%);
}

.btn {
  display: flex;
  align-items: center;
  margin: 20px 0;
  
}

button:hover{
  background-color: hsl(4, 100%, 67%);
  cursor: pointer;
  outline: none;
  box-shadow: 0 12px 16px 0 hsla(4, 100%, 67%, 0.24),0 17px 50px 0 hsla(4, 100%, 67%, 0.24);
}

.btn-1 {
  padding: 30px;
  font-size: 20px;
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
  border: none;
  background-color: hsl(234, 29%, 20%);
  color: white;
  font-weight: bold;
}

.flex h1 {
  font-size: 45px;
}

.display-img-desktop{
    display: none;
}

.btn-2 {
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
  border: none;
  background-color: hsl(234, 29%, 20%);
  color: white;
  font-weight: bold;
}

.flex {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.success {
  width: 75px;
  height: 75px;
  margin-top: 10px;
}

.item-1 {
  margin-top: 50px;
}
.item-1 p {
  line-height: 1.5;
  font-size: 18px;
  margin-top: 30px;
}
.bold {
  font-weight: bold;
}

/*Media queries for desktop*/

@media only screen and (min-width: 1200px) {
  main {
    height: 100vh;
    width: 100vw;
    background-color: hsl(234, 29%, 20%);
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex{
    background: white;
    width: 40%;
    height: 80%;
    margin: 0 auto;
    border-radius: 20px ;
    justify-content: space-evenly;
  }
 
  .flex h1{
    font-size: 45px;
 
    margin-bottom: 0;
  }
  .flex p{
  
   margin: 10px 0 0 0;
  }

  
  .success {
    width: 55px;
    height: 55px;
    
  }

  .item-1, .item-2{
    margin: 0 auto;
    width:80%;
  }



  .box {
    display: flex;
    flex-direction: row-reverse;

    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
    width: 65%;
    height: 85%;
  }

  .box p,
  .box li,
  .btn-1 {
    font-size: 15px;
  }

  ul{
    margin: 0;
    padding: 0;
    list-style-position: inside;
  }

  li {
    margin: 0;
    padding: 3px;
  }

  .box h1 {
    font-size: 45px;
    margin: 0;
    padding-top: 20px;
  }
  .btn-1 {
    padding: 15px;
    margin-bottom: 10px;
  }
  label {
    margin-top: 5px;
  }

  input {
    padding: 15px;
    margin-bottom: 0;
  }
  .pic {
   
    width: 45%;
    height: 90%;
   padding-top: 20px;
  }
  ul {
    margin-bottom: 15px;
  }
.display-img-mobile{
    display: none;
}
  .display-img-desktop {
    height: 100%;
    width:100%;
    display: block;

  }

  .content {
    width: 45%;
    margin: 20px auto;
  
  }

  
}
